%h2 My Lists

= form_for @new_list do |f|
  = f.text_field :name, :placeholder=>"Add new list...", :id=>"new-list-input"

%table{:class=>"table"}
  - @lists.each do |list|
    %tr
      %td= link_to list.name, list