<h1>One random item from each of your lists:</h1>

<% @user.lists_in_random_order.each do |list| %>
  <h2><%= list.name %></h2>
  <p style="font-size: 16px;"><%= list.random_item.name_and_text_string %></p>
  <br />
<% end %>