One random item from each of your lists:

<% @user.lists.each do |list| %>
  <p style="font-size: 16px;">
    <span style="font-weight: bold;"><%= list.name %></span>: <%= list.random_item.name %>
  </p>
<% end %>